@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pirata+One&family=Source+Code+Pro:ital,wght@0,200;1,400&display=swap");

.carousel-item {
  height: 32rem;
  color: pink;
}

.header {
  font-family: "Lobster", cursive;
}

.title {
  text-align: center;
  font-size: 10vh;
  color: rgb(81, 81, 81);
}

footer {
  background: url(../Assests/img/wave.gif) !important;
  background-size: cover;
  color: black;
  padding: 20px;
}
